.container{
    margin-bottom: 100px;
}

.banner-bg{
    background-color: #fceae8;
    border-radius: 10px;
}

.carousel-item{
    padding: 20px 40px;
}

.price{
    color: #ff136f;
}

.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 9px 25px;
    cursor: pointer;
}

.buy-now-button:hover{
    background-image: linear-gradient(to bottom, #FF136F 0%, #FF589B 100%);
}

.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}

.cat1{
    background-image: linear-gradient(45deg, #ff9d00, rgba(255, 196, 0, 0.69));
}

.cat2{
    background-image: linear-gradient(45deg, rgb(243, 0, 165), #da70d6b0);
}

.cat3{background-image: linear-gradient(45deg, #0010ff, rgba(72, 72, 233, 0.65));
}

.categories h1{
    color: white;
}

.categories img{
    width: 100px;
}

.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
}

.card-footer{
    background-color: white;
    border-top: none;
    margin-bottom: 10px;
}

#subscribe{
    height: 300px;
}
#subscribe h6{
    color: gray;
}
footer{
    text-align: center;
}
#subscribe-button{
    margin-top: 9px;
    font-size: 10px;
}